@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #181818;
    color: #d4d4d4;
    text-rendering: optimizeLegibility;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader {
    border-right-color: transparent;
    animation: loader-rotate 1s linear infinite;
}

.nav-container {
    font-size: 1rem;
    margin: 0.6rem 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-container .list-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-container ul {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
}

.nav-container li {
    padding: 0 1rem;
    list-style-type: none;
    font-size: 1.2rem;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.nav-container a:hover {
    color: #a9a9a9;
}

.nav-container li:first-child {
    padding-left: 0;
}

.nav-container .activePage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@-webkit-keyframes slide {
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-moz-keyframes slide {
    100% {
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-o-keyframes slide {
    100% {
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide {
    100% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.activePage:hover::after {
    background-color: #99802d;
}

.activePage::after {
    content: " ";
    display: block;
    position: absolute;
    margin-top: 2rem;
    width: 50px;
    height: 2px;
    background-color: #ffcf00;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0s;
    -moz-animation: slide 0.5s forwards;
    -o-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.activePage1::after {
    content: " ";
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
}

.activePage2::after {
    content: " ";
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transform: translateX(-60px);
}

.video-wrapper .video-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    -webkit-transition: top 0.5s ease, -webkit-transform 0.5s ease;
    transition: top 0.5s ease, -webkit-transform 0.5s ease;
    -o-transition: top 0.5s ease, -o-transform 0.5s ease;
    -moz-transition: transform 0.5s ease, top 0.5s ease, -moz-transform 0.5s ease;
    transition: transform 0.5s ease, top 0.5s ease;
    transition: transform 0.5s ease, top 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease, -o-transform 0.5s ease;
    width: 300px;
    height: 220px;
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
}

.video-wrapper .video-inner-wrapper:hover {
    position: absolute;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    max-width: 100vw;
    z-index: 1;
    background-color: #000;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.video-wrapper .video-inner-wrapper:hover video::-webkit-media-controls-panel {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

video::-webkit-media-controls-panel {
    width: 100%;
    height: 102%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-overlay-play-button {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
}

.about-wrapper {
    margin: 0 2.5rem;
}

.about-wrapper sup,
.about-wrapper img {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
    .about-wrapper img {
        width: 80%;
    }

    .about-wrapper h1 {
        font-size: 2rem;
    }

    .about-wrapper p,
    .about-wrapper sup {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 500px) {
    .nav-container {
        padding: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .nav-container .list-wrapper {
        width: 100%;
    }

    .nav-container ul {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0.5rem;
        width: 100%;
    }

    .nav-container li {
        font-size: 1rem;
        padding: 0 0.2rem !important;
    }

    .video-wrapper .video-inner-wrapper:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }
}
